@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.contact-style {
  margin-top: -20px;
  width: 100%;
  height: 100vh;
  background-color: #dddfd4;
}

.contact-tray-container {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
  background-color: #3fb0ac;
}

.about-container {
  margin-top: 20px;
}

.social-container {
  padding-left: 25%;
  padding-right: 25%;
}

.skill-tray {
  height: 0px;
  background-color: #3fb0ac;
  max-height: 100vh;
  /*overflow-y: scroll;*/
}

.contact-row-container {
  height: 100vh;
  background-color: #3fb0ac;
}

.contact-info {
  height: 100vh;
  background-color: #3fb0ac;
}

/* Social Media Links*/


ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 200%;
    display: inline-block;
    margin: 0 auto;
}

ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    float: left;
    padding-right: 50px;
}
.social-icons a {
    color: white;
    text-decoration: none;
}
.fa-behance {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #3fb0ac;
}
.fa-behance:hover {
    background-color: #dddfd4;
}
.fa-dribbble {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #3fb0ac;
}
.fa-dribbble:hover {
    background-color: #dddfd4;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #3fb0ac;
}
.fa-instagram:hover {
    background-color: #dddfd4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #3fb0ac;
}
.fa-github:hover {
    background-color: #dddfd4;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #3fb0ac;
}
.fa-linkedin:hover {
    background-color: #dddfd4;
}
