@import url('https://fonts.googleapis.com/css?family=Quicksand|Montserrat');


.app {
  width: 100%;
}

.page-nav a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
  padding: 7px;
  color: white;
}

.page-nav a:visited {
  text-decoration: none;
  color: white;
}

.page-nav a:hover {
  text-decoration: none;
  background-color: white;
  color: #173e43;
}

.navigation-style {
  background-color: #3b3a36;
  border: none;
}

.navigation-style a {
  color: #e9ece5;
  text-decoration: none;
}

.navigation-style a:visited {
  color: #e9ece5;
  text-decoration: none;
}

.navigation-style a:hover {
  color: #b3c2bf;
  text-decoration: none;
}

.custom-nav a {
  margin-left: 15px;
}

.custom-nav {
  margin-top: 15px;
}

.thing {
  background: black;
  height: 10px;
  opacity: 0.2;
  color: white;
}

.banner {
  background: url(../public/coverportrait2.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#title-name {
  color: white;
}

/*div.banner {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  display: block;
  position: absolute;
  vertical-align: center;
  padding: 10px;
  background: #3b3a36;
  color: #e9ece5;
}*/

li {
  list-style: none;
}

div.banner #subtitle {
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  width: 250px;
  text-align: center;
  margin-left: 10px;
  padding: 10px;
  color: white;
}

div.banner #title {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  padding: 10px;
  background: #3b3a36;
  color: #e9ece5;
  text-align: center;

  color: white;
}

@media screen and (min-width: 375px) and (max-width: 667px) {
    /* iphone portrait */
    .banner {
       background: url(../public/coverportrait2.jpg) 17% no-repeat;
       background-size: cover;
    }

    div.banner h1 {
      vertical-align: center;
    }

    div.banner p {
      vertical-align: center;
    }
}

aside.primary-aside {
  width: 100%;
}

.content-container {
  background: yellow;
  width: 100%;
  height: 50%;
}

aside.primary-aside a.active {
    font-weight: bold;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -8px black;
     -moz-box-shadow: 0 8px 6px -8px black;
          box-shadow: 0 8px 6px -8px black;
}