@import url('https://fonts.googleapis.com/css?family=Quicksand|Montserrat');

.portfolio {
  height: 100vh;
  width: auto;
}

.work-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

p {
  color: black;
}

.work-modal {
  display: inline-block;
}

.portfolio-row-container {
  background-color: #173e43;
}

.gallery {
  cursor: pointer;
  padding: 0;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.gallery div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 600px;
  /*margin: .5vw;*/
}
.gallery div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .gallery div { margin: 0; }
  .gallery { padding: 0; }
}

/*.text {
  display: inline-block;
  position: absolute;
  text-align: center;
  visibility: hidden;
  vertical-align: middle;
}

.column div:hover .text {
  visibility:visible;
}*/


.tray-container-main {
  /*min-height: 3500px;*/
  height: 3550px;
/*  max-height: 3550px;*/
}

.tray-container-main div {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    /* iphone portrait */
    .tray-container-main {
        max-height: 700px;
    }
}

/*.column {
  max-width: 600px;
  min-width: 600px;
  height: 100vh;
  margin: 15px 15px 0;
  padding: 0;
}

.column:last-child {
  padding-bottom: 20px;
}

.column::after {
  clear: both;
  display: block;
}

.column div {
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 0px;
}

.column div:first-child {
  margin-left: 0;
}*/

.gallery div figure img {
  -webkit-transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.gallery div figure:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.gallery li {

}

/*figure span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
}*/

figure span {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20%;
  font-weight: bold;
  position: absolute;
  text-align: center;
  z-index: 1000;
  opacity: 1;
  color: #fae596;
  font-size: 25px;
  padding-left: 10px;
  /*background: white;*/
  height: 100%;
  opacity: 0;
}

figure span:hover {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
}

figure {
  display: inline-block;
  position: relative;
  cursor: pointer;
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 225px;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

figure:hover+span {
  bottom: -36px;
  opacity: 1;
}

.image-title {
  position: absolute;
  font-size: 22px;
}