@import url('https://fonts.googleapis.com/css?family=Quicksand|Montserrat');

.portfolio {
  height: 100vh;
  width: auto;
}

.work-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

p {
  color: black;
}

.work-modal {
  display: inline-block;
}

.row-container {
  background-color: #fae596;
}

/*.gallery {
  cursor: pointer;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.gallery div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}*/
/*.gallery div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  .gallery div { margin: 0; }
  .gallery { padding: 0; }
}*/

/*.text {
  display: inline-block;
  position: absolute;
  text-align: center;
  visibility: hidden;
  vertical-align: middle;
}

.column div:hover .text {
  visibility:visible;
}*/

.work-tray-container {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
}


.column {
  max-width: 600px;
  min-width: 600px;
  height: 100vh;
  margin: 15px 15px 0;
  padding: 0;
}

.column:last-child {
  padding-bottom: 20px;
}

.column::after {
  clear: both;
  display: block;
}

.column div {
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 0px;
}

.column div:first-child {
  margin-left: 0;
}

.column div figure img {
  -webkit-transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.column div figure:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/*figure span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
}*/

figure span {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  position: absolute;
  z-index: 1000;
  opacity: 1;
  color: black;
  font-size: 33px;
  padding-left: 10px;
  background: white;
  height: 100%;
  opacity: 0;
}

figure span:hover {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0.3;
}

figure {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0px;
  background: #fff;
  overflow: hidden;
}

figure:hover+span {
  bottom: -36px;
  opacity: 1;
}

.image-title {
  position: absolute;
  font-size: 22px;
}